<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.514656664866-vqrpj6ofnqelks7m1v7q2lavlvvi2i9j</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb877095567699355</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>MoniqiZG</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>MoniqiZG</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>qqmap</string>
		<string>osmandmaps</string>
		<string>baidumap</string>
		<string>mapswithme</string>
		<string>citymapper</string>
		<string>yandexnavi</string>
		<string>yoomoneyauth</string>
		<string>yandexmaps</string>
		<string>weixinULAPI</string>
		<string>zdhxchargeeight</string>
		<string>weixin</string>
		<string>wechat</string>
		<string>sosomap</string>
		<string>comgooglemaps</string>
		<string>iosamap</string>
		<string>baidumap</string>
		<string>twitter</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>twitter</string>
		<string>twitterauth</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>需要摄像头来拍摄照片，是否允许打开摄像头？</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>需要地理位置信息获取周边的充电宝相关数据，是否允许使用定位？</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>需要地理位置信息获取周边的充电宝相关数据，是否允许使用定位？</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>需要地理位置信息获取周边的充电宝相关数据，是否允许使用定位？</string>
		<key>NSPhotoLibraryAddUsageDescription</key>
		<string>需要添加图片并存储图片，是否允许打开相册？</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>需要查看图片并发送图片，是否允许打开相册？</string>
	</dict>
	<key>NSUserNotificationUsageDescription</key>
	<string>通知可能包括提醒、声音和图标标记。可在“设置”中配置相关功能。</string>
	<key>UIAppFonts</key>
	<array>
		<string>font_money_medium.ttf</string>
		<string>uncommon_font.ttf</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
